<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xxx后台管理系统</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/grand.css">
</head>

<body>
    <div class="container">
        <%- include('./common/head') %>
            <div class="gao-main">
                <%- include('./common/menu.ejs') %>
                    <div class="body">
                        <div class="addGrand">
                            <button type="button" class="btn btn-info addgrand">新增品牌</button>
                        </div>
                        <div class="filter">
                            <h2>新增</h2>
                            <form action="/grand/addgrand" method="POST" enctype="multipart/form-data">
                                品牌名称：<input type="text" name="grandname" id="grandname" />
                                </br>
                                品牌LOGO：<input type="file" name="grandlogo" id="grandlogo" />
                                <input type="submit" value="确认" id="sure" />
                                <input type="button" name="" id="no" value="取消">
                            </form>
                        </div>
                        <div class="grandtable">
                            <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>品牌Logo</th>
                                        <th>品牌名称</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%for(var i=0;i<list.length;i++){%>
                                        <tr>
                                            <th scope="row">
                                                <%=i+1%>
                                            </th>
                                            <td>
                                                <img src="/<%=list[i].grandlogo%>" alt="">
                                            </td>
                                            <td>
                                                <%=list[i].grandname%>
                                            </td>
                                            <td> <a href="/grand/delete?id=<%= list[i]._id %>" class="a1">删除</a></td>
                                        </tr>
                                        <%}%>
                                </tbody>
                            </table>
                        </div>
                        <nav class="grandnav">
                            <ul class="pagination ">
                                <li>
                                    <a href="/grand/grand.html?page=<%=currentPage-1<1?1:currentPage-1%>&pageSize=<%=pageSize%>" aria-label="Previous ">
                                        <span aria-hidden="true ">&laquo;</span>
                                    </a>
                                </li>
                                <%for(var i=0;i<totalPage;i++){%>
                                    <li class="<%=currentPage===(i+1)?'active':''%>">
                                        <a href="/grand/grand.html?page=<%=i+1%>&pageSize=<%=pageSize%>">
                                            <%=i+1%>
                                        </a>
                                    </li>
                                    <%}%>
                                        <li>
                                            <a href="/grand/grand.html?page=<%=currentPage+1>totalPage?totalPage:currentPage+1%>&pageSize=<%=pageSize%>" aria-label="Next ">
                                                <span aria-hidden="true ">&raquo;</span>
                                            </a>
                                        </li>
                            </ul>
                        </nav>
                    </div>
            </div>
            <%- include('./common/foot') %>
    </div>

</body>
<script src="/js/grand.js"></script>

</html>