<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xxx后台管理系统</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/phone.css">
</head>

<body>
    <div class="container">
        <%- include('./common/head') %>
            <div class="gao-main">
                <%- include('./common/menu.ejs') %>
                    <div class="body">
                        <div class="addPhone">
                            <button type="button" class="btn btn-info addphone">新增手机</button>
                        </div>
                        <div class="filter">
                            <h2>新增</h2>
                            <form action="/phone/addphone" method="POST" enctype="multipart/form-data">
                                手机名称：<input type="text" name="phonename" id="phonename" />
                                </br>
                                所属品牌：<input type="text" name="phonegrand" id="phonegrand" />
                                </br>
                                &nbsp;&nbsp;官方价：&nbsp;<input type="text" name="phoneprice" id="phoneprice" />
                                </br>
                                &nbsp;&nbsp;回收价：&nbsp;<input type="text" name="phoneoldprice" id="phoneoldprice" />
                                </br>
                                </br>
                                图片：<input type="file" name="phoneimg" id="phoneimg" />
                                <input type="submit" value="确认" id="sure" />
                                <input type="button" name="" id="no" value="取消">
                            </form>
                        </div>
                        <div class="phonetable">
                            <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>图片</th>
                                        <th>手机名称</th>
                                        <th>所属品牌</th>
                                        <th>官方指导</th>
                                        <th>二手价回收</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%for(var i=0;i<list.length;i++){%>
                                        <tr>
                                            <th scope="row">
                                                <%=i+1%>
                                            </th>
                                            <td>
                                                <img src="/<%=list[i].phoneimg%>" alt="">
                                            </td>
                                            <td>
                                                <%=list[i].phonename%>
                                            </td>
                                            <td>
                                                <%=list[i].phonegrand%>
                                            </td>
                                            <td>
                                                <%=list[i].phoneprice%>
                                            </td>
                                            <td>
                                                <%=list[i].phoneoldprice%>
                                            </td>
                                            <td>
                                                <a href="/phone/findandupdate?id=<%= list[i]._id %>" class="a1">修改</a>
                                                <a href="/phone/delete?id=<%= list[i]._id %>" class="a2">删除</a>
                                            </td>
                                        </tr>
                                        <%}%>
                                </tbody>
                            </table>
                        </div>
                        <div class="update">
                            <h2>修改</h2>
                            <form action="/phone/updatephone" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="phoneid" value="<%=list2[0]._id%>" />
                                </br>
                                手机名称：<input type="text" name="phonename" value="<%=list2[0].phonename%>" />
                                </br>
                                所属品牌：<input type="text" name="phonegrand" value="<%=list2[0].phonegrand%>" />
                                </br>
                                &nbsp;&nbsp;官方价：&nbsp;&nbsp;<input type="text" name="phoneprice" value="<%=list2[0].phoneprice%>" />
                                </br>
                                &nbsp;&nbsp;回收价：&nbsp;<input type="text" name="phoneoldprice" value="<%=list2[0].phoneoldprice%>" />
                                </br>
                                </br>
                                <img src="/<%=list2[0].phoneimg%>" alt="" width="25px" height="25px"> 图片：
                                <input type="file" name="phoneimg" id="phoneimg" />
                                <input type="submit" value="确认" class="sure1" />
                                <input type="button" name="" class="no1" value="取消">
                            </form>
                        </div>
                        <nav class="phonenav">
                            <ul class="pagination ">
                                <li>
                                    <a href="/phone/phone.html?page=<%=currentPage-1<1?1:currentPage-1%>&pageSize=<%=pageSize%>" aria-label="Previous ">
                                        <span aria-hidden="true ">&laquo;</span>
                                    </a>
                                </li>
                                <%for(var i=0;i<totalPage;i++){%>
                                    <li class="<%=currentPage===(i+1)?'active':''%>">
                                        <a href="/phone/phone.html?page=<%=i+1%>&pageSize=<%=pageSize%>">
                                            <%=i+1%>
                                        </a>
                                    </li>
                                    <%}%>
                                        <li>
                                            <a href="/phone/phone.html?page=<%=currentPage+1>totalPage?totalPage:currentPage+1%>&pageSize=<%=pageSize%>" aria-label="Next ">
                                                <span aria-hidden="true ">&raquo;</span>
                                            </a>
                                        </li>
                            </ul>
                        </nav>
                    </div>
            </div>
            <%- include('./common/foot') %>
    </div>
</body>

<script src="/js/jquery.js"></script>
<script src="/js/phone.js"></script>

</html>